  @media screen and (max-width: 500px) {
    .section-four {
        padding: 2rem;
    }
    
  }

  @media screen and (max-width: 426px) {
    .section-four {
        padding: 1rem;
    }
  }
   @media screen and (min-width: 500px) {
    .section-four {
        padding: 3rem;
    }
  }